# Expo
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Node
node_modules/
expo-env.d.ts

# Ignorar SOLO el src del frontend (React Native)
/src/

# NO ignorar functions/ completo, solo cosas específicas
functions/node_modules/
functions/.env
functions/.env.*
functions/permissions/
functions/firebase-debug.log
functions/.firebase/